* {
  margin: 0;
  padding: 0;
}

body {
  color: #FFF;
  background-color: gray;
}

button {
  cursor: pointer;
}

/*--------------*/
/*PAGE-CONTAINER*/
/*-------------*/
.wrapper {
  width: 1422px;
  margin: 0 auto;
  /*------*/
  /*HEADER*/
  /*------*/
  /*----------------------*/
  /*HEADER / FOOTER STYLES*/
  /*----------------------*/
  /*---------*/
  /*SECTION-1*/
  /*---------*/
  /*---------*/
  /*SECTION-2*/
  /*---------*/
  /*---------*/
  /*SECTION-3*/
  /*---------*/
  /*---------*/
  /*SECTION-4*/
  /*---------*/
  /*---------*/
  /*SECTION-5*/
  /*---------*/
  /*---------*/
  /*SECTION-6*/
  /*---------*/
  /*---------*/
  /*SECTION-7*/
  /*---------*/
  /*---------*/
  /*SECTION-8*/
  /*---------*/
}
.wrapper .section-3__mobile-form,
.wrapper .we-realize__mobile,
.wrapper .map__img-mobile, .wrapper .iframe-mobile {
  display: none;
}
.wrapper .header {
  height: 83px;
  display: flex;
}
.wrapper .header__logo,
.wrapper .header__contacts a,
.wrapper .nav__item:first-child,
.wrapper .aside__text {
  color: #E3B873;
  font-family: "FuturaBookC";
  font-weight: normal;
  font-style: normal;
}
.wrapper .header__container {
  width: 1256px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header__container .header__nav {
  display: flex;
  list-style: none;
}
.wrapper .header__container .nav__item {
  margin-right: 47px;
}
.wrapper .header__container .nav__item:hover {
  color: #d133d4;
  cursor: pointer;
}
.wrapper .header__container .nav__item:last-child {
  margin-right: 0;
}
.wrapper .header__container .header__contacts {
  display: flex;
}
.wrapper .header__container .header__contacts a {
  margin-right: 45px;
  text-decoration-line: underline;
  align-self: center;
}
.wrapper .header__container .contacts__button {
  width: 161px;
  height: 37px;
  background-color: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-family: "FuturaBookC";
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 11px;
  border: 0;
}
.wrapper .header__container .contacts__button:hover {
  background-color: #d133d4;
}
.wrapper .section-1 {
  height: 838px;
  background-color: #131313;
}
.wrapper .section-1 .rostov-on-don {
  display: flex;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 707px;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__aside .aside__text, .wrapper .section-1 .rostov-on-don .rostov-on-don__aside .aside__line {
  transform: rotate(90deg);
  text-decoration: none;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__aside .aside__line {
  position: relative;
  top: 80px;
  width: 51px;
  height: 1px;
  border-top: 1.5px solid #E3B873;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content {
  display: flex;
  align-items: center;
  padding-left: 60px;
  background-image: url(assets/img/section-1__img.png);
  width: 1356px;
  height: 707px;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 40px;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__title span {
  color: #E3B873;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__text {
  width: 504px;
  padding-top: 19px;
  padding-bottom: 41px;
  font-family: "FuturaBookC";
  font-size: 22px;
  font-size: 22px;
  line-height: 30px;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__buttons__item-1,
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__buttons__item-2 {
  width: 207px;
  height: 51px;
  border-radius: 2px;
  font-family: "FuturaDemiC";
  color: #FFFFFF;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__buttons__item-1:hover,
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__buttons__item-2:hover {
  background-color: #d133d4;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__buttons__item-1 {
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border: 0;
}
.wrapper .section-1 .rostov-on-don .rostov-on-don__content__buttons__item-2 {
  margin-left: 20px;
  background: none;
  border: 1px solid #FFFFFF;
}
.wrapper .section-1 .scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 97px;
  position: relative;
  bottom: 50px;
  background: #131313;
}
.wrapper .section-1 .scroll-down .scroll-down__content {
  display: flex;
  width: 150px;
  height: 29px;
}
.wrapper .section-1 .scroll-down .scroll-down__content .scroll-down__content__text {
  margin-right: 12px;
  align-self: center;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
}
.wrapper .section-1 .scroll-down .scroll-down__content .scroll-down__content__button {
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background: none;
  color: #E3B873;
  border: 1.5px solid #E3B873;
  transform: rotate(180deg);
}
.wrapper .section-1 .scroll-down .scroll-down__content .scroll-down__content__button:hover {
  border-color: #d133d4;
  color: #d133d4;
}
.wrapper .section-2 {
  height: 1241px;
  display: flex;
  flex-direction: column;
  background-color: #131313;
}
.wrapper .section-2 .section-2__nav {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 224px;
  height: 128px;
  list-style: none;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
}
.wrapper .section-2 .section-2__nav .section-2__nav__item {
  margin-left: 60px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.3);
}
.wrapper .section-2 .section-2__nav .section-2__nav__item:first-child {
  margin: 0;
  color: #E3B873;
  text-decoration: underline;
}
.wrapper .section-2 .section-2__nav .section-2__nav__item:hover {
  color: #d133d4;
  cursor: pointer;
}
.wrapper .section-2 .section-2__content {
  display: flex;
  justify-content: space-between;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects {
  width: 442px;
  height: 390px;
  margin-left: 100px;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__title, .wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__mini-title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  color: #E3B873;
  text-transform: uppercase;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__text {
  font-family: "FuturaBookC";
  margin-top: 34px;
  font-size: 18px;
  line-height: 29px;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__text__advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__text__advantages__item {
  display: flex;
  flex-direction: column;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__mini-text {
  font-family: "FuturaBookC";
  margin-top: 9px;
}
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .item-indent {
  margin-right: 50px;
}
.wrapper .section-2 .section-2__content .section-2__content__slide {
  display: flex;
  justify-content: flex-end;
}
.wrapper .section-2 .section-2__content .section-2__content__slide .slide__img-1 {
  width: 679px;
  height: 482px;
}
.wrapper .section-2 .section-2__content .section-2__content__slide .slide__img-2 {
  margin-left: 21px;
}
.wrapper .section-2 .section-2__online-control {
  display: flex;
  justify-content: center;
  margin-top: 91px;
}
.wrapper .section-2 .section-2__online-control .online-control__content {
  display: flex;
  flex-direction: column;
}
.wrapper .section-2 .section-2__online-control .online-control__content .online-control__content_text {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}
.wrapper .section-2 .section-2__online-control .online-control__content .online-control__content__img {
  display: flex;
  align-self: center;
  margin-top: 13px;
}
.wrapper .section-2 .section-2__background-block {
  height: 372px;
  margin-top: 258px;
  background-color: #FFFFFF;
}
.wrapper .section-2 .section-2__video {
  position: absolute;
  top: 1640px;
  left: 320px;
}
.wrapper .section-3 {
  height: 1401px;
  background-color: #FFFFFF;
}
.wrapper .section-3 .section-3__text-block {
  width: 681px;
  height: 131px;
  margin: 0 auto;
}
.wrapper .section-3 .section-3__text-block .section-3__text-block__text {
  font-family: "FuturaBookC";
  padding-top: 99px;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}
.wrapper .section-3 .section-3__submit-form {
  display: flex;
  width: 769px;
  height: 51px;
  margin: 170px auto 0;
  font-family: "FuturaBookC";
}
.wrapper .section-3 .section-3__submit-form .section-3__submit-form__item__title {
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}
.wrapper .section-3 .section-3__submit-form .submit-form__item__button {
  width: 200px;
  height: 51px;
  border: 0;
  background: #E3B873;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-3 .section-3__submit-form .submit-form__input {
  width: 231px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-family: "FuturaBookC";
}
.wrapper .section-3 .section-3__submit-form .section-3__submit-form__item:first-child {
  margin-right: 58px;
}
.wrapper .section-3 .section-3__submit-form .section-3__submit-form__item:nth-child(2) {
  margin-right: 49px;
}
.wrapper .section-3 .section-3__submit-form .section-3__submit-form__item {
  align-self: center;
}
.wrapper .section-3 .section-3__checkbox {
  display: flex;
  width: 290px;
  height: 18px;
  margin: 35px auto 0;
}
.wrapper .section-3 .section-3__checkbox .section-3__checkbox__input {
  width: 18px;
  height: 18px;
  margin-right: 9px;
  align-self: center;
}
.wrapper .section-3 .section-3__checkbox .section-3__checkbox__text {
  align-self: center;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}
.wrapper .section-3 .section-3__title {
  display: flex;
  flex-direction: column;
  width: 257px;
  height: 26px;
  margin: 148px auto 0;
}
.wrapper .section-3 .section-3__title .section-3__title__text {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 28px;
  color: #181818;
}
.wrapper .section-3 .section-3__title .section-3__img, .wrapper .section-3 .section-3__title .section-3__title__text {
  align-self: center;
}
.wrapper .section-3 .section-3__types-of-repair {
  width: 1236px;
  height: 608px;
  margin: 100px auto 0;
  display: flex;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
}
.wrapper .section-3 .section-3__types-of-repair .repair-text {
  position: relative;
  bottom: 130px;
  left: 15px;
  width: 300px;
  height: 256px;
  padding-top: 25px;
  padding-left: 60px;
  background-color: #FFF;
}
.wrapper .section-3 .section-3__types-of-repair .repair-text .repair-text__title {
  margin-left: -15px;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.wrapper .section-3 .section-3__types-of-repair .repair-text .repair-text__ul {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
.wrapper .section-3 .section-3__types-of-repair .repair__button {
  width: 228px;
  height: 54px;
  border: 0;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  bottom: 160px;
  left: 15px;
}
.wrapper .section-3 .section-3__types-of-repair__item:nth-child(1),
.wrapper .section-3 .section-3__types-of-repair__item:nth-child(2) {
  margin-right: 30px;
}
.wrapper .section-4 {
  height: 725px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}
.wrapper .section-4 .section-4__advantages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 780px;
  height: 690px;
  background-image: url(assets/img/section-4__img.png);
  background-repeat: no-repeat;
}
.wrapper .section-4 .section-4__advantages .advantages__container {
  list-style: none;
}
.wrapper .section-4 .section-4__advantages .section-4__advantages__item:not(:last-child) {
  margin-bottom: 100px;
}
.wrapper .section-4 .section-4__advantages .section-4__advantages__item:nth-child(2),
.wrapper .section-4 .section-4__advantages .section-4__advantages__item:nth-child(3) {
  margin-left: 50px;
}
.wrapper .section-4 .section-4__advantages .section-4__advantages__item {
  display: flex;
  align-items: center;
}
.wrapper .section-4 .section-4__advantages .section-4__advantages__item .section-4__advantages__item__text {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}
.wrapper .section-4 .section-4__advantages .section-4__advantages__item .section-4__advantages__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-right: 20px;
  border-radius: 30px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form {
  width: 409px;
  height: 506px;
  margin-right: 100px;
  margin-top: 50px;
  padding: 0 50px;
  background-color: #131313;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form {
  border: 0;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__title {
  padding-top: 28px;
  margin-bottom: 39px;
  text-align: center;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__inputs {
  list-style: none;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__inputs .section-4__form__item {
  display: flex;
  flex-direction: column;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__inputs .section-4__form__item .section-4__form__item__input {
  width: 408px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #131313;
  font-family: "FuturaMediumC";
  color: #FFF;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__inputs .section-4__form__item .section-4__form__item__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__inputs .section-4__form__item .section-4__form__item__title {
  margin-bottom: 7px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__inputs .section-4__form__item:not(:last-child) {
  margin-bottom: 48px;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__checkbox {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__checkbox .section-4__form__checkbox__item {
  width: 18px;
  height: 18px;
  margin-right: 9px;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__checkbox .section-4__form__checkbox__text {
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__form .section-4__form .section-4__form__button {
  width: 213px;
  height: 51px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border: 0;
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 39px;
  float: right;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__donation {
  display: flex;
  align-items: center;
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__donation .section-4__form-block__donation__text {
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.wrapper .section-4 .section-4__form-block .section-4__form-block__donation .section-4__form-block__donation__img {
  margin-top: 20px;
}
.wrapper .section-5 {
  height: 1018px;
  background-color: #FFF;
}
.wrapper .section-5 .section-5__content__wrapper {
  position: relative;
  top: 111px;
  background-color: #131313;
}
.wrapper .section-5 .section-5__content {
  width: 100%;
  height: 864px;
  background-image: url(assets/img/section-5__background-img.png);
}
.wrapper .section-5 .section-5__content .section-5__content__text {
  padding-top: 137px;
  padding-left: 99px;
}
.wrapper .section-5 .section-5__content .section-5__content__text .section-5__content__text_title {
  margin-bottom: 47px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}
.wrapper .section-5 .section-5__content .section-5__content__text .section-5__content__text__sub-title {
  margin-bottom: 23px;
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 34px;
  color: #E3B873;
  text-decoration: underline;
}
.wrapper .section-5 .section-5__content .section-5__content__text .section-5__content__text__list {
  list-style: none;
}
.wrapper .section-5 .section-5__content .section-5__content__text .section-5__content__text__list__item {
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
}
.wrapper .section-5 .section-5__content .section-5__content__text .section-5__content__text__list__item:not(:last-child) {
  margin-bottom: 15px;
}
.wrapper .section-5 .section-5__img-1 {
  position: absolute;
  bottom: 350px;
  left: 600px;
}
.wrapper .section-5 .section-5__img-2 {
  position: absolute;
  bottom: -43px;
  left: 600px;
}
.wrapper .section-5 .section-5__img-3 {
  position: absolute;
  bottom: 690px;
  left: 1000px;
}
.wrapper .section-5 .section-5__img-4 {
  position: absolute;
  bottom: 30px;
  left: 1000px;
}
.wrapper .section-6 {
  height: 1693px;
}
.wrapper .section-6 .design-project {
  display: flex;
  flex-direction: column;
  height: 620px;
  background-color: #FFF;
}
.wrapper .section-6 .design-project .design-project__title {
  padding-top: 112px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #181818;
}
.wrapper .section-6 .design-project .design-project__img {
  padding-top: 13px;
  width: 28px;
  height: 28px;
  align-self: center;
}
.wrapper .section-6 .design-project .design-project__text {
  padding-top: 24px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}
.wrapper .section-6 .design-project .section-6__types-of-repair {
  width: 1236px;
  height: 735px;
  margin: 100px auto 0;
  display: flex;
  list-style: none;
}
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text-1,
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text-2,
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text-3 {
  position: relative;
  bottom: 130px;
  left: 15px;
  width: 300px;
  padding-top: 25px;
  padding-left: 60px;
  background-color: #FFF;
}
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text-1 {
  height: 181px;
}
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text-2 {
  height: 256px;
}
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text-3 {
  height: 384px;
}
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text__title {
  margin-left: -15px;
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.wrapper .section-6 .design-project .section-6__types-of-repair .repair-text__ul {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
.wrapper .section-6 .design-project .section-6__types-of-repair .repair__button {
  width: 228px;
  height: 54px;
  border: 0;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  bottom: 160px;
  left: 15px;
}
.wrapper .section-6 .design-project .section-6__types-of-repair__item:nth-child(1),
.wrapper .section-6 .design-project .section-6__types-of-repair__item:nth-child(2) {
  margin-right: 30px;
}
.wrapper .section-6 .steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 1073px;
  background-color: #131313;
}
.wrapper .section-6 .steps .steps__container {
  display: flex;
  justify-content: space-between;
  width: 1238px;
  height: 686px;
  margin: 0 auto;
}
.wrapper .section-6 .steps .steps__container .steps__text-content {
  width: 337px;
  height: 515px;
}
.wrapper .section-6 .steps .steps__container .steps__text-content .steps__text-content__sub-title-1 {
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-6 .steps .steps__container .steps__text-content .steps__text-content__title {
  padding-top: 18px;
  font-family: "Yeseva One";
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}
.wrapper .section-6 .steps .steps__container .steps__text-content .steps__text-content__paragraph-1 {
  padding-top: 92px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-6 .steps .steps__container .steps__text-content .steps__text-content__sub-title-2 {
  padding-top: 22px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #E3B873;
}
.wrapper .section-6 .steps .steps__container .steps__text-content .steps__text-content__paragraph-2 {
  padding-top: 16px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}
.wrapper .section-6 .steps .steps__container .steps__table {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text {
  width: 766px;
  height: 178px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  color: gray;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__item-1 {
  width: 128px;
  height: 178px;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__item-2 {
  width: 136px;
  height: 178px;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__item-3 {
  width: 100px;
  height: 178px;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__h-active {
  font-family: "Yeseva One";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #FFFFFF;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__p-active {
  font-family: "FuturaBookC";
  padding-top: 17px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__h-1 {
  font-family: "Yeseva One";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: underline;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__p-1 {
  padding-top: 17px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 18px;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__h-2 {
  padding-top: 36px;
  font-family: "Yeseva One";
  text-decoration: underline;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__p-2 {
  font-family: "FuturaBookC";
  padding-top: 13px;
}
.wrapper .section-6 .steps .steps__container .steps__table .steps__table__text .steps__table__h-2-center {
  font-family: "Yeseva One";
  padding-top: 55px;
  text-decoration: underline;
}
.wrapper .section-7 {
  height: 2024px;
}
.wrapper .section-7 .our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 501px;
  background-color: #131313;
}
.wrapper .section-7 .our-team .our-team__title {
  padding-top: 95px;
  padding-bottom: 13px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-7 .our-team .our-team__text-1 {
  width: 393px;
  padding-top: 23px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
.wrapper .section-7 .our-team .workers {
  display: flex;
  width: 1063px;
  height: 504px;
  list-style: none;
}
.wrapper .section-7 .our-team .workers .workers__item:not(:last-child) {
  margin-right: 106px;
}
.wrapper .section-7 .our-team .workers .workers__item {
  width: 272px;
  height: 414px;
  padding-top: 74px;
}
.wrapper .section-7 .our-team .workers .workers__item .workers__item__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 233px;
  height: 137px;
  position: relative;
  bottom: 85px;
  left: 20px;
  background-color: #FFF;
}
.wrapper .section-7 .our-team .workers .workers__item .workers__item__text .workers__item__text__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #181818;
}
.wrapper .section-7 .our-team .workers .workers__item .workers__item__text .workers__item__text__prof {
  padding-bottom: 20px;
  padding-top: 5px;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595;
}
.wrapper .section-7 .our-team .workers .workers__item .workers__item__text .workers__item__text__button {
  width: 233px;
  height: 44px;
  background: #E3B873;
  border: 0;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-7 .our-team .workers .workers__item .workers__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: relative;
  bottom: 535px;
  right: 35px;
  background: #E3B873;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
}
.wrapper .section-7 .our-team .our-team__text-2 {
  padding-top: 72px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}
.wrapper .section-7 .our-clients {
  background-color: #FFF;
  height: 100%;
}
.wrapper .section-7 .our-clients .our-clients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 500px;
  width: 1236px;
  height: 642px;
}
.wrapper .section-7 .our-clients .our-clients__container .our-clients__title {
  padding-bottom: 13px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}
.wrapper .section-7 .our-clients .our-clients__container .our-clients__text {
  padding-bottom: 39px;
  padding-top: 24px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}
.wrapper .section-7 .our-clients .our-clients__container .clients {
  display: flex;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item:not(:last-child) {
  margin-right: 54px;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item {
  width: 376px;
  height: 428px;
  background-color: azure;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__title {
  padding-top: 24px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__title .clients__item__title__text {
  padding-left: 23px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  font-weight: 900;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__text {
  padding: 22px 20px 0;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 180%;
  color: #959595;
  text-transform: lowercase;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__button-img {
  padding-left: 5px;
  width: 32px;
  height: 30px;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__buttons {
  display: flex;
  position: relative;
  top: 35px;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__buttons .clients__item__button-1,
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__buttons .clients__item__button-2 {
  display: flex;
  align-items: center;
  height: 54px;
  border: 0;
  background: #E3B873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__buttons .clients__item__button-1 {
  margin-right: 2px;
  width: 176px;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__buttons .clients__item__button-2 {
  width: 118px;
}
.wrapper .section-7 .our-clients .our-clients__container .clients .clients__item .clients__item__buttons .clients_button_text {
  padding-left: 10px;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-7 .section-7__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 883px;
  height: 445px;
  position: relative;
  bottom: 715px;
  margin: 0 auto;
  background-color: #181818;
}
.wrapper .section-7 .section-7__form .section-7__form__container {
  width: 520px;
  height: 377px;
  border: 0;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__inputs-1-2 {
  display: flex;
  padding-top: 46px;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__inputs-1-2 .section-7__form__input-1 {
  margin-right: 58px;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__input-1,
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__input-2,
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__input-3 {
  width: 231px;
  height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: inherit;
  font-family: "FuturaBookC";
  color: #FFF;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__label-1,
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__label-2,
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__label-3 {
  display: block;
  padding-bottom: 7px;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__input-1::placeholder,
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__input-2::placeholder,
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__input-3::placeholder {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__label-3 {
  padding-top: 49px;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__input-3 {
  width: 517px;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__checkbox {
  display: flex;
  align-items: center;
  width: 290px;
  margin: 0 auto;
  padding-top: 46px;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__checkbox .section-7__form__checkbox__item {
  width: 18px;
  height: 18px;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__checkbox .section-7__form__checkbox__text {
  padding-left: 9px;
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__button {
  width: 200px;
  height: 51px;
  border: 0;
  margin-top: 50px;
  margin-left: 160px;
  background: #E3B873;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.wrapper .section-8 {
  height: 1087px;
  /*------*/
  /*FOOTER*/
  /*------*/
}
.wrapper .section-8 .section-8__map {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 954px;
  background-color: black;
}
.wrapper .section-8 .section-8__map .map__title {
  padding-top: 285px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}
.wrapper .section-8 .section-8__map .map__title a {
  color: #E3B873;
  text-decoration: none;
}
.wrapper .section-8 .section-8__map .map__social-imgs {
  display: flex;
  padding-top: 26px;
}
.wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-1,
.wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #E3B873;
}
.wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-1 {
  margin-right: 15px;
}
.wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-1:hover,
.wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-2:hover {
  cursor: pointer;
  background-color: #d133d4;
}
.wrapper .section-8 .section-8__map .map__img {
  padding-top: 43px;
}
.wrapper .section-8 .footer {
  display: flex;
  height: 133px;
  background-color: #181818;
}

/*----------------------------------------------------------------------------*/
/*---MOBILE-BLOCK-------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
@media all and (max-width: 375px) {
  .wrapper {
    width: 357px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .wrapper .header__nav, .wrapper .contacts__button, .wrapper .rostov-on-don__aside, .wrapper .scroll-down,
.wrapper .section-2__nav, .wrapper .slide__img-1, .wrapper .slide__img-2, .wrapper .section-2__background-block,
.wrapper .section-3__submit-form, .wrapper .section-3__checkbox, .wrapper .section-4, .wrapper .section-5__img-1,
.wrapper .section-5__img-2, .wrapper .section-5__img-3, .wrapper .section-5__img-4,
.wrapper .section-5__content__text__sub-title, .wrapper .section-5__content__text__list,
.wrapper .steps__container, .wrapper .our-team__text-2, .wrapper .our-clients__container, .wrapper .footer,
.wrapper .section-5, .wrapper .map__img, .wrapper .iframe-desktop {
    display: none !important;
  }
}
@media all and (max-width: 375px) {
  .wrapper {
    /*---------*/
    /*SECTION-1*/
    /*---------*/
    /*---------*/
    /*SECTION-2*/
    /*---------*/
    /*---------*/
    /*SECTION-3*/
    /*---------*/
    /*---------*/
    /*SECTION-6*/
    /*---------*/
    /*---------*/
    /*SECTION-7*/
    /*---------*/
    /*---------*/
    /*SECTION-8*/
    /*---------*/
  }
  .wrapper .section-1 {
    height: 533px;
  }
  .wrapper .header {
    height: 57px;
  }
  .wrapper .header__container {
    width: 339px;
  }
  .wrapper .header__contacts a {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0 !important;
  }
  .wrapper .header__logo {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #E3B873;
  }
  .wrapper .rostov-on-don__content__wrapper {
    margin-left: -9px;
  }
  .wrapper #rostov-on-don__content-mobile {
    padding-left: 18px;
    height: 100%;
  }
  .wrapper #rostov-on-don__content__title-mobile {
    font-size: 23px;
    line-height: 132.83%;
  }
  .wrapper #rostov-on-don__content__text-mobile {
    width: 339px;
    font-size: 18px;
  }
  .wrapper #rostov-on-don__content__buttons__item-1-mobile {
    width: 339px;
    height: 51px;
  }
  .wrapper #rostov-on-don__content__buttons__item-2-mobile {
    margin-top: 26px;
    width: 339px;
    height: 51px;
    margin-left: 0;
  }
  .wrapper .rostov-on-don__content__buttons__item-2 span {
    display: none;
  }
  .wrapper #rostov-on-don-mobile {
    width: 357px;
    height: 476px;
    background-image: url(assets/img/mobile/section-1-img.png);
  }
  .wrapper .rostov-on-don__content {
    background-image: none !important;
  }
  .wrapper .section-2 {
    height: 1557px;
  }
  .wrapper .section-2 .iframe-mobile {
    display: block;
  }
  .wrapper .section-2 .section-2__online-control {
    margin-top: 320px;
  }
  .wrapper .section-2 .section-2__video {
    top: 1378px;
    left: 9px;
  }
  .wrapper .section-2 .section-2__video video {
    width: 340px;
    height: 207px;
  }
  .wrapper .section-2 .section-2__content {
    padding-top: 36px;
  }
  .wrapper .section-2 .section-2__content .section-2__content__completed-projects {
    margin: 0 auto;
  }
  .wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__title {
    text-align: center;
  }
  .wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__text {
    width: 311px;
    margin: 22px auto 0;
    text-align: center;
    font-size: 14px;
  }
  .wrapper .section-2 .section-2__content .section-2__content__completed-projects .section-2-img {
    margin: 0 auto;
    margin-top: 36px;
    width: 340px;
    height: 242px;
    background-image: url(assets/img/mobile/section-2-img.png);
    background-repeat: no-repeat;
  }
  .wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__text__advantages {
    margin-top: 36px;
    padding: 0 17px;
    padding-right: 60px;
  }
  .wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__mini-title,
.wrapper .section-2 .section-2__content .section-2__content__completed-projects .completed-projects__mini-text {
    font-size: 14px;
  }
  .wrapper .section-2 .section-2__content .section-2__content__completed-projects .item-indent {
    margin-right: 40px;
  }
  .wrapper .section-3 {
    height: 2053px;
  }
  .wrapper .section-3 .section-3__mobile-form {
    display: block;
  }
  .wrapper .section-3 .we-realize__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 318px;
    height: 66px;
    margin: 0 auto;
    margin-top: 530px;
  }
  .wrapper .section-3 .we-realize__mobile .we-realize__mobile__text {
    margin-bottom: 24px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
  }
  .wrapper .section-3 .section-3__text-block {
    width: 340px;
    height: 107px;
  }
  .wrapper .section-3 .section-3__text-block .section-3__text-block__text {
    position: relative;
    bottom: 472px;
    padding-top: 0;
    line-height: 169.8%;
    font-size: 14px;
    color: #FFFFFF;
  }
  .wrapper .section-3 .section-3__mobile-form {
    position: relative;
    bottom: 395px;
    margin: 0 auto;
    width: 340px;
    height: 311px;
    background-color: #181818;
    font-family: "FuturaDemiC";
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__item__title {
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__input {
    width: 340px;
    background-color: #181818;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: "FuturaDemiC";
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__input::placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #FFFFFF;
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__item-1 {
    margin-bottom: 63px;
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__item-2 {
    margin-bottom: 27px;
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__checkbox-text {
    margin-left: 9px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__checkbox {
    width: 18px;
    height: 18px;
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__item-checkbox {
    display: flex;
    align-items: center;
  }
  .wrapper .section-3 .section-3__mobile-form .section-3__mobile-form__button {
    width: 340px;
    height: 51px;
    margin-top: 72px;
    border: 0;
    background: #E3B873;
    box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
    font-family: "FuturaDemiC";
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }
  .wrapper .section-3 .section-3__types-of-repair {
    position: relative;
    bottom: 505px;
    flex-direction: column;
  }
  .wrapper .section-3 .section-3__types-of-repair .section-3__types-of-repair__item img {
    width: 340px;
  }
  .wrapper .section-3 .section-3__types-of-repair .section-3__types-of-repair__item {
    margin-left: 9px;
    height: 550px;
  }
  .wrapper .section-3 .section-3__types-of-repair .section-3__types-of-repair__item .repair-text {
    width: 270px;
    height: 241px;
    padding: 0;
    left: 0;
  }
  .wrapper .section-3 .section-3__types-of-repair .section-3__types-of-repair__item .repair-text .repair-text__title {
    padding-top: 21px;
    padding-left: 31px;
    font-size: 15px;
    line-height: 138.6%;
  }
  .wrapper .section-3 .section-3__types-of-repair .section-3__types-of-repair__item .repair-text .repair-text__ul {
    padding-left: 32px;
    font-size: 13px;
    line-height: 169.8%;
  }
  .wrapper .section-3 .section-3__types-of-repair .section-3__types-of-repair__item .repair__button {
    width: 190px;
    height: 40px;
    left: 0;
    margin-top: 10px;
    font-size: 15px;
    line-height: 138.6%;
  }
  .wrapper .section-3 .section-3__title {
    position: relative;
    bottom: 491px;
  }
  .wrapper .section-3 .section-3__title .section-3__title__text {
    font-size: 22px;
    line-height: 138.6%;
  }
  .wrapper .section-6 {
    height: 2064px;
    background-color: #181818;
  }
  .wrapper .section-6 .design-project {
    background-color: #181818;
  }
  .wrapper .section-6 .design-project .design-project__title {
    padding-top: 150px;
    font-size: 22px;
    line-height: 138.6%;
    color: #FFFFFF;
  }
  .wrapper .section-6 .design-project .design-project__text {
    font-size: 15px;
    line-height: 135.84%;
    color: #FFFFFF;
  }
  .wrapper .section-6 .design-project .section-6__types-of-repair {
    flex-direction: column;
    margin: 39px auto 0;
    width: auto;
    height: auto;
  }
  .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item img {
    width: 340px;
  }
  .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item {
    margin-right: 0;
    margin-bottom: -100px;
  }
  .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-1, .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-2, .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-3 {
    left: 0;
    width: 230px;
    padding-top: 18px;
    padding-left: 31px;
  }
  .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-3 {
    height: 256px;
  }
  .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-3 .repair-text__ul li:nth-child(8),
.wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-3 .repair-text__ul li:nth-child(9),
.wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-3 .repair-text__ul li:nth-child(10),
.wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-3 .repair-text__ul li:nth-child(11),
.wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair-text-3 .repair-text__ul li:nth-child(12) {
    display: none;
  }
  .wrapper .section-6 .design-project .section-6__types-of-repair .section-6__types-of-repair__item .repair__button {
    left: 0;
    bottom: 152px;
    width: 190px;
    height: 40px;
  }
  .wrapper .section-7 {
    height: 2090px;
  }
  .wrapper .section-7 .our-clients {
    background-color: #181818;
  }
  .wrapper .section-7 .our-team .our-team__title {
    padding-top: 0;
  }
  .wrapper .section-7 .our-team .our-team__text-1 {
    font-size: 15px;
    line-height: 135.84%;
    width: 340px;
  }
  .wrapper .section-7 .our-team .workers {
    width: auto;
    flex-direction: column;
  }
  .wrapper .section-7 .our-team .workers .workers__item {
    margin-right: 0 !important;
    margin-left: 30px;
  }
  .wrapper .section-7 .section-7__form {
    left: 26px;
    bottom: 994px;
    width: 306px;
  }
  .wrapper .section-7 .section-7__form #section-7__input-1-mobile,
.wrapper .section-7 .section-7__form #section-7__input-2-mobile,
.wrapper .section-7 .section-7__form #section-7__input-3-mobile {
    width: 335px;
  }
  .wrapper .section-7 .section-7__form #section-7__input-1-mobile {
    margin-bottom: 50px;
  }
  .wrapper .section-7 .section-7__form .section-7__form__container {
    width: auto;
  }
  .wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__title {
    padding-right: 50px;
  }
  .wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__inputs-1-2 {
    flex-direction: column;
  }
  .wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__checkbox {
    padding-top: 22px;
    margin: 0;
  }
  .wrapper .section-7 .section-7__form .section-7__form__container .section-7__form__button {
    margin-left: 0;
    width: 340px;
  }
  .wrapper .section-8 {
    height: 531px;
  }
  .wrapper .section-8 .map__img-mobile {
    display: block;
    padding-top: 46px;
  }
  .wrapper .section-8 .section-8__map {
    height: 531px;
  }
  .wrapper .section-8 .section-8__map .map__title {
    padding-top: 42px;
  }
  .wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-1,
.wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-2 {
    width: 39px;
    height: 39px;
  }
  .wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-1 img,
.wrapper .section-8 .section-8__map .map__social-imgs .map__social__img-2 img {
    width: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
